.env
node_modules/
ignorethis
*.osu
commands/embed.js
beatmapsongs/
extracted/
mes/
replayFile/
user-data.json
prefixes.json
commandCount.txt
asd.js
test.js
image.png
user-recent.json
user-replay.json